python-dotenv
mistralai

langchain
langchain-community
langchain-mistralai
langgraph
langchain-huggingface

chromadb
sentence-transformers

tavily-python

pypdf
python-docx

beautifulsoup4
requests

numpy
pandas
pydantic
tiktoken
tqdm

streamlit

plotly

fastapi
uvicorn
reportlab